:root {
  --light-black: #23283b;
  --black: #00020a;
  --white: #ffffff;
  --white-smoke: #d7d3d3ee;
  --grey: #7e7e9622;
  --sky-blue: #1705a1;
  --tomato: #7e0689;
}

body.dark {
  --light-black: #969798ba;
  --black: #c2c1c1;
  --white: #383d4b;
  --white-smoke: #2b2f3a;
  --grey: #4d515c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background: #f4f2f2;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin: 20px;
}

footer {
  margin: 15px 30px;
}

#calculator {
  position: relative;
  width: 350px;
  height: 450px;
  margin: 70px auto;
  background: var(--white);
  border-radius: 20px;
}

#calculator .theme-icons {
  position: absolute;
  top: 25px;
  left: calc(50% - 30px);
  background: var(--white-smoke);
  padding: 7px 10px;
  text-align: center;
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

#calculator .theme-icons i {
  cursor: pointer;
  color: var(--black);
}

#calculator .result {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  padding: 0px 15px;
}

#calculator .result .history #history-value {
  font-size: 20px;
  font-weight: bold;
  color: var(--light-black);
  padding-bottom: 5px;
}

#calculator .result .output #output-value {
  font-size: 30px;
  font-weight: bold;
  color: var(--black);
  padding-bottom: 10px;
}

#calculator .keyboard {
  height: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 14px 15px;
  background: var(--white-smoke);
  border-radius: 15px;
}

#calculator .keyboard button {
  border: none;
  outline: none;
  width: 62px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  background: var(--grey);
  font-weight: bold;
  font-size: 36px;
  color: var(--black);
  cursor: pointer;
  transition: transform 0.3s ease;
}

#calculator .keyboard button:active {
  transform: scale(0.8);
}

.keyboard .number {
  color: var(--black);
}

.keyboard .operator {
  color: var(--sky-blue) !important;
}

.keyboard .operator:nth-child(4),
.keyboard .operator:nth-child(8),
.keyboard .operator:nth-child(12),
.keyboard .operator:nth-child(16),
.keyboard .operator:last-child {
  color: var(--tomato) !important;
}
